
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario de Alta de Estudiantes</h1>

<!-- como funciona un formulario html en general-> -->

    <!-- <form action="#" method="get">
        <input name="nombre" placeholder="Escriba su nombre aquí" type="text">

        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input name="fechaNacimiento" type="date" id="fechaNacimiento">
        <input type="submit" value="Enviar">

    </form> -->
    <form th:object="${estudiante}" th:action="@{/altaEstudiante}" method="post">

        <label for="nombre">Nombre :</label>
        <input type="text" name="'nombre" id="nombre" th:field="*{nombre}" required> 
        <!-- nel for va con el id para relacionarlo -->
        <!-- th field es para indicarle que es nuestro campo nombre  -->


        <label for="primerApellido">Primer Apellido :</label>
        <input type="text" name="primerApellido" id="primerApellido" th:field="*{primerApellido}" required> 

        <label for="segundoApellido">Segundo Apellido :</label>
        <input type="text" name="segundoApellido" id="segundoApellido" th:field="*{segundoApellido}" required> 

        <label for="fechaAlta">Fecha de Alta :</label>
        <input type="date" name="fechaAlta" id="fechaAlta" th:field="*{fechaAlta}" required> 


        <label for="fechaNacimiento">Fecha de Nacimiento :</label>
        <input type="date" name="fechaNacimiento" id="fechaNacimiento" th:field="*{fechaNacimiento}"> 

       <fieldset>
        <legend>Genero</legend>

        <label for="hombre"> Hombre</label>
        <input type="radio" id="hombre" name="genero" value="HOMBRE" th:field="*{genero}" required>

        <label for="mujer"> Mujer</label>
        <input type="radio" id="mujer" name="genero" value="MUJER" th:field="*{genero}" required>

        <label for="otro"> Otro </label>
        <input type="radio" id="otro" name="genero" value="OTRO" th:field="*{genero}" required>

       </fieldset>

       <label for="beca"> Beca</label>
       <input type="text" id="beca" name="beca" th:field="*{beca}" required>

       <label for="idFacultad">Facultad: </label>
       <select name="facultad" id="idFacultad" required> 
           <option></option>
           <option th:each=" fac : ${facultades}" th:value="${fac.id}" 
                       th:text="${fac.nombre}"></option>
       </select>

       <input type="submit" value="Alta">

    </form>

    

</body>
</html>